.article {
	width: 470px;
	position: relative;
	padding-top: 145px;
}
	.article h1 {
		font-family: 'Neuton', serif;
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 7px;
		width: 300px;
    color: #454545;
	}
	.article h2 {
		font-family: 'Neuton', serif;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 15px;
	}
	.article p {
		margin-bottom: 20px;
	}
  
  .article .endsign {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 2px;
		width: 16px;
    height: 16px;
		background: transparent url(../images/sprites.png) no-repeat scroll 0 -168px;
  }
	
	.article .media {
		-webkit-box-shadow: 0px 0px 4px 0px #aaa;
        box-shadow: 0px 0px 4px 0px #aaa;
		padding: 4px;
		margin: 14px 0 11px -5px;
		width: 480px;
	}
		.article .media a{
			display: block;
			overflow: hidden;
			line-height: 0;
		}
		.article .media img {
			width: 480px;
			position: relative;
		}