.breadcrumbs {
	position: absolute;
	left: 0;
	top: 67px;
	width: 470px;
	z-index: 500;
}
	.breadcrumbs li {
		float: left;
		margin-left: 7px;
		padding-left: 10px;
		background: transparent url(../images/sprites.png) no-repeat scroll 0 6px;
	}
	.breadcrumbs li:first-child {
		background: none;
		margin-left: 0;
		padding-left: 0;
	}