.comb {
	background: transparent url(../images/hex-nolink.png) no-repeat scroll 0 0;
	width: 112px;
  padding: 64px 10px 0;
	height: 80px;
	position: absolute;
	text-align: center;
  line-height: 15px;
}
.comb.hidden {
	background-image: none;
}
.comb.linked {
	background-image: url(../images/hex-link.png);
	cursor: pointer;
}
	.comb.linked a {
		text-decoration: none;
		color: #333;
	}
	