.excerptlist {
	width: 470px;
	position: relative;
	z-index: 500;
  min-height: 150px;
}
.home .excerptlist {
	width: 375px;
}

	.excerptlist li {
		margin-bottom: 35px;
	}
	.excerptlist h3 {
		font-family: 'Neuton', serif;
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 3px;
		width: 300px;
	}
		.excerptlist h3 a {
			text-decoration: none;
			color: #454545;
		}
	.excerptlist h4 {
		font-family: 'Neuton', serif;
		font-size: 16px;
		margin-bottom: 7px;
    color: #888;
	}
    .excerptlist .category {
      color: #888;
      
    }
	.excerptlist .excerpt {
		margin-bottom: 5px;
		line-height: 20px;
	}
	.excerptlist p {
		margin-bottom: 15px;
	}
	.excerptlist .more-link {
		display: block;
		margin-top: 5px;
	}
	.excerptlist .media {
		-webkit-box-shadow: 0px 0px 4px 0px #aaa;
        box-shadow: 0px 0px 4px 0px #aaa;
		padding: 4px;
		margin: 7px 200px 7px 0;
		float: left;
	}
		.excerptlist .media a{
			display: block;
			overflow: hidden;
			max-height: 250px;
			max-width: 440px;
			line-height: 0;
		}
		.excerptlist .media img {
			
		}
