body {
  font-family: Lora, serif;
  color: #333;
  font-size: 14px;
  line-height: 23px;
  background-color: #fff;
}

a {
  color: #003E65;
  text-decoration: underline;
}

em {
  font-style: italic;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
	.wrapper .content {
		position: relative;
		margin-left: 260px;
		margin-top: 26px;
		z-index: 500;
	}
	
	.wrapper .content.nocategories {
		padding-top: 145px;
	}
		